{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Documentation</title>
        <link rel="stylesheet" type="text/css" href="{% static 'back_end/css/style.css' %}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="body">
        <div class="container">
            <h1 class="text">API Documentation</h1> 
            <a class="home"href="../"><h3>Home</h3></a>
            <hr/>
            <h2 class="text">Example API Routes</h2>
                {% for j in availible_routes %}
                <a class="apiLink" href="../{{j}}"><p>{{j}}</p></a>
                {% endfor%}
            <hr/>
            <h2 class="text">Useage</h2>
            <h4 >
                The metadata coord and attack-info routes
                can all be modified using any year from 2000-2016<br>
                the second variable allows input of the top 10
                terrorist groups from 2000-2016:
                <ol>
                    <li>Taliban</li>
                    <li>Islamic State of Iraq and the Levant (ISIL)</li>
                    <li>Al-Shabaab</li>
                    <li>Communist Party of India - Maoist (CPI-Maoist)</li>
                    <li>Boko Haram</li>
                    <li>New People's Army (NPA)</li>
                    <li>Maoists</li>
                    <li>Tehrik-i-Taliban Pakistan (TTP)</li>
                    <li>Revolutionary Armed Forces of Colombia (FARC)</li>
                    <li>Kurdistan Workers' Party (PKK)</li>
                </ol>
            </h4>
            <h4 class="text">
                Pass in any of the group names from the list above 
                in place of the "All" place holder to get a <br>filtered list
                by that group. Leave "All" in place to get all results by year"
            </h4>
            <hr/>
        </div>
    </body>
</html>