{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Assets Archive</title>
        <link rel="stylesheet" type="text/css" href="{% static 'back_end/css/style.css' %}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="body">
        <img class="imageStore" src="{% static 'front_end/assets/page-assets/thumbnail.png' %}" alt="thumbnail" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/page-assets/background.png' %}" alt="background" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/JBotardo.jpg' %}" alt="Joel" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/JCMedina.jpg' %}" alt="Jean" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/JKyle.jpg' %}" alt="Jhuleian" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/KSoni.jpg' %}" alt="Kunal" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/TSharpe.jpg' %}" alt="Tim" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/img/JPrakke.jpg' %}" alt="Josh" style="width:100%">
        <img class="imageStore" src="{% static 'front_end/assets/icons/bookmark_icon.png' %}" alt="bookmark_icon" style="width:100%">
    </body>
</html>