.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #4d4d4d;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .linkIcons {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background-color:  #4D4D4D;
  }
  
  /* ------------------JOEL CONTACT--------------- */
  .columnjoel {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .columnjoel {
      width: 100%;
      display: block;
    }
  }
  
  .container-contentjoel {
    padding: 0 16px;
    background-color: #4D4D4D;
  }
  
  
  .container-contentjoel::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background-color: #4D4D4D;
  }
  
  
  .profilejoel {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%; 
    background-repeat:   no-repeat;
    background-size:     cover; 
  }
  
  .content-joel:hover .profilejoel {
    opacity: 0.3;
  }
  
  .content-joel:hover .textjoel {
    opacity: 1;
  }
  
  .textjoel {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  
  /* ------------------TIM CONTACT--------------- */
  .columntim {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .columntim {
      width: 100%;
      display: block;
    }
  }
  
  .container-contenttim {
    padding: 0 16px;
    background-color: #4D4D4D;
  }
  
  
  .container-contenttim::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background-color: #4D4D4D;
  }
  
  
  .profiletim {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%; 
    background-repeat:   no-repeat;
    background-size:     cover; 
  }
  
  .content-tim:hover .profiletim {
    opacity: 0.3;
  }
  
  .content-tim:hover .texttim {
    opacity: 1;
  }
  
  .texttim {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  /* ------------------JOSH CONTACT--------------- */
  .columnjosh {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .columnjosh {
      width: 100%;
      display: block;
    }
  }
  
  .container-contentjosh {
    padding: 0 16px;
    background-color: #4D4D4D;
  }
  
  
  .container-contentjosh::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background-color: #4D4D4D;
  }
  
  
  .profilejosh {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%; 
    background-repeat:   no-repeat;
    background-size:     cover; 
  }
  
  .content-josh:hover .profilejosh {
    opacity: 0.3;
  }
  
  .content-josh:hover .textjosh {
    opacity: 1;
  }
  
  .textjosh {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  /* ------------------KUNAL CONTACT--------------- */
  .columnkunal {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .columnkunal {
      width: 100%;
      display: block;
    }
  }
  
  .container-contentkunal {
    padding: 0 16px;
    background-color: #4D4D4D;
  }
  
  
  .container-contentkunal::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background-color: #4D4D4D;
  }
  
  
  .profilekunal {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%; 
    background-repeat:   no-repeat;
    background-size:     cover; 
  }
  
  .content-kunal:hover .profilekunal {
    opacity: 0.3;
  }
  
  .content-kunal:hover .textkunal {
    opacity: 1;
  }
  
  .textkunal {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  /* ------------------JHUELIAN CONTACT--------------- */
  .columnjhuelian {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .columnjhuelian {
      width: 100%;
      display: block;
    }
  }
  
  .container-contentjhuelian {
    padding: 0 16px;
    background-color: #4D4D4D;
  }
  
  
  .container-contentjhuelian::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background-color: #4D4D4D;
  }
  
  
  .profilejhuelian {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%; 
    background-repeat:   no-repeat;
    background-size:     cover; 
  }
  
  .content-jhuelian:hover .profilejhuelian {
    opacity: 0.3;
  }
  
  .content-jhuelian:hover .textjhuelian {
    opacity: 1;
  }
  
  .textjhuelian {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
 
   /* ------------------JEAN CONTACT--------------- */
   .columnjean {
     float: left;
     width: 20%;
     margin-bottom: 16px;
     padding: 0 8px;
   }
   
   
   @media screen and (max-width: 650px) {
     .columnjean {
       width: 100%;
       display: block;
     }
   }
   
   .container-contentjean {
     padding: 0 16px;
     background-color: #4D4D4D;
   }
   
   
   .container-contentjean::after, .row::after {
     content: "";
     clear: both;
     display: table;
     background-color: #4D4D4D;
   }
   
   
   .profilejean {
     position: relative;
     float: left;
     width:  100%;
     height: 80%;
     background-position: 50% 50%; 
     background-repeat:   no-repeat;
     background-size:     cover; 
   }
   
   .content-jean:hover .profilejean {
     opacity: 0.3;
   }
   
   .content-jean:hover .textjean {
     opacity: 1;
   }
   
   .textjean {
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%)
   }
   /* ::-webkit-scrollbar { 
     display: none; 
 } */
 .text-white{
   color:white !important;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
 }
 
 
 .dropdown-menu {
   background-color:#42545F;
 }
 
 .DDstyle {
   color:#B7C5CC;
   font-weight: 700;
   text-transform: uppercase;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
   
 }
 .dropdown-divider{
   border-top: 1px solid black;
 }
 
 .bg-viz {
   background-color: #4A657F !important;
 }
 
 .centerPNG{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
 }
 
 hr.clear {
   border-color: #49657C;
 }
 
 .linkcontainer{
   align-content: center;
 }
 
 .linkIcons{
   margin-right: 5px !important;
 }
 
 #dropdown-text{
   font-size: 80% !important;
 }
 .legend {
   line-height: 20px;
   color: black;
   background-color: #425460;
   align-content: center;
   padding: 5px;
   color:white !important;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
   border-radius: 5px;
 }
 
 .legend i {
   width: 30px;
   height: 18px;
   float: left;
   opacity: 0.7;
 }
 
 p.legend{
   margin-bottom: 0 !important;
   padding-bottom: 0 !important;
   text-align: center;
 }
 
 p.legend-key-right{
   float: right;
   margin-bottom: 0 !important;
   padding-bottom: 8px !important
 }
 p.legend-key-left{
   float: left;
   margin-bottom: 0 !important;
   padding-bottom: 8px !important
 }
 .r-width{
  width: 100%;
 }

.contact-section{
    padding:0;
    background-color: #4A657F !important;

}